@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  background-color: black;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -moz-user-select: none;
  user-select: none;
}
